@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

.warm{
    background: url(./Assets/warm-bg.jpg);
    background-size: cover;
}

.maindiv{
    background-image: url(./Assets/cold-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
   height: 600px;
   overflow: hidden;
   box-shadow: 1px 6px 5px 4px rgba(0,0,0, 0.5);
}

.overlay{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    height: 100%;
    width: 100%;
    padding:0px 20px;
}

.seconddiv form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seconddiv input[type='text']{
    padding: 15px;
    width: 300px;
    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
    font-size: 15px;
}

.seconddiv input[type='text']::placeholder{
    text-align: center;
    color: rgba(0,0,0, 0.5);
    font-size: 16px;
}

.seconddiv input[type='text']:focus{
    outline: none;
}

.seconddiv input[type='submit']{
    padding: 20px; 
    margin: 20px 0px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-shadow:2px 2px rgba(50, 50, 70, 0.5);
    font-size: 20px;
    line-height: 10px;
}

.seconddiv input[type='submit']:hover{
    background: rgba(255, 255, 255, 0.4);

}

.dynamic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dynamic h1,h2,h3{
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin: 10px auto;

}

.degree h1{
background: rgba(255, 255, 255, 0.4);
padding: 10px 15px;
border-radius: 8px;
box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
width: max-content;
font-size: 60px;
text-shadow: 3px 6px rgba(0,0,0, 0.5);
}

.nodata{
    text-align: center;
    text-shadow:3px 3px rgba(50, 50, 70, 0.5);
    color: #fff;
}

.city h1{
    font-weight: 500;
    text-shadow:3px 3px rgba(50, 50, 70, 0.5);
}

.date h3{
font-size: 20px;
font-weight: 500;
font-style: italic;
text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}